html{
    box-sizing:border-box;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
    overflow-x:hidden
}


*,*:before,*:after{
    box-sizing:inherit
}

.contenedor:after, .contenedor:before{
    content: "";
    display: table;
    clear: both;
}

div {
    width: 160px;
    height: 80px;
    padding: 20px;
    border: 8px solid rgb(249, 225, 225);
    background: rgb(228, 232, 244);
  }
  
  .content-box {
    box-sizing: content-box;
   
  }
  
  .border-box {
    box-sizing: border-box;
  
  }

.redondeado{border-radius:4px}

/* Danielfoto.jpg */
.contenedor-foto{
    position:rel center;
    align-content: center;
}

.foto{
    width:100%;
    opacity: 0.5;
}

body{
    margin: 0;
    background-color: lightgrey;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: aliceblue;
    display: grid;
    
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;

}

#container {
/*width: 70%; */
width: auto;
margin: 0px auto;
border: 1px solid royalblue;
}

header{
    background-color: lightsteelblue;
    padding: 30px;
    height: 100px;
    width: 100%;
    margin-top: auto;
    text-align: center;
    line-height: 100px;
    color :rgb(12, 97, 172);
    border-bottom: 3px dashed burlywood;
    font-size: medium;

}

nav{
    background: lightskyblue;
    height: auto;
    border-bottom: 1px solid lightcyan;
}

nav ul li {
    float: left;
    list-style: none;
    margin: auto;
    line-height: auto;
}

.clearfix{
clear: both;
}

#content{
    float:left;
    width: calc(80% - 80px);
    min-height: auto;
    background-color: rgb(104, 147, 190);
    padding: auto;
}

.article{
    color: blanchedalmond;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom:10px ;
    border-bottom: 1px solid#eee;
}

.article h1{
    font-size:25px;
}

.article:first-child{
    padding-top: 10px;
    border-bottom: 1px solid#eee;

}

aside{
    float: left;
    width: calc (20%-20px);
    background-color: lightgray;
    min-height: 500px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 40px;
}

footer{

    background-color: rgb(116, 116, 128);
    padding: 1em 0;
    text-align: center;
    
    
   
}